<%- include("parts/header") %>
<%- include("parts/navbar") %>

<!-- start error page -->
<div class="container">
    <p class="alert alert-danger">Something Went Wrong</p>
</div>

<%- include("parts/footer") %>